apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deploy
  namespace: bookverse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: anshumanjha/bookverse-frontend:latest
          ports:
            - containerPort: 80