apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deploy
  namespace: bookverse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: anshumanjha/bookverse-backend:latest
          ports:
            - containerPort: 5000